[project]
	description = library mangerment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sreysorlyorngplanb
[access "refs/for/refs/*"]
	read = group user/sreysorlyorngplanb
	push = group user/sreysorlyorngplanb
	label-Code-Review = -2..+2 group user/sreysorlyorngplanb
	label-Verified = -1..+1 group user/sreysorlyorngplanb
	rebase = group user/sreysorlyorngplanb
	removeReviewer = group user/sreysorlyorngplanb
	submit = group user/sreysorlyorngplanb
[access "refs/heads/*"]
	read = group user/sreysorlyorngplanb
	create = group user/sreysorlyorngplanb
	push = +force group user/sreysorlyorngplanb
	pushMerge = group user/sreysorlyorngplanb
[access "refs/tags/*"]
	push = +force group user/sreysorlyorngplanb
	pushTag = group user/sreysorlyorngplanb
	pushSignedTag = group user/sreysorlyorngplanb
